**/venv/
**/.venv/
venv/
.venv/

# Dependency directories
node_modules/
**/node_modules/

# Environment files
.env
.env*.local
**/.env
**/.env*.local

# Build directories
dist/
**/dist/
dist-ssr/
**/dist-ssr/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

k8s/secret.yaml


PROJECT_REVISION_GUIDE.md
